---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
<strong>Wu, Z.</strong>, Su, Z., Liu, N., Gao, Z., Zheng, H., Wang, Y., & Wang, S. (2021). Off-equatorial source of magnetosonic waves extending above the lower hybrid resonance frequency in the inner magnetosphere. <i>Geophysical Research Letters</i>, 48, e2020GL091830.<br>
<strong>Wu, Z.</strong>, Su, Z. (2021). Transit-time scattering of radiation belt electrons by off-equatorially generated magnetosonic waves. <i>Journal of University of Science and Technology of China</i>, 2021, 51(6): 453-458.



{% include base_path %}
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
<!--      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
<strong>Wu, Z.</strong>, Su, Z., Liu, N., Gao, Z., Zheng, H., Wang, Y., & Wang, S. (2021). Off-equatorial source of magnetosonic waves extending above the lower hybrid resonance frequency in the inner magnetosphere. <i>Geophysical Research Letters</i>, 48, e2020GL091830.<br>
<strong>Wu, Z.</strong>, Su, Z. (2021). Transit-time scattering of radiation belt electrons by off-equatorially generated magnetosonic waves. <i>Journal of University of Science and Technology of China</i>, 2021, 51(6): 453-458.
        {% assign title_shown = true %}
      {% endunless %}-->
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



